<form class="" action="/posts" method="post">
  <p>Title: <input type="text" name="name" value=""></p>
  <p>Content: <input type="text" name="content" value=""></p>
  <input id="submit" type="submit" value="submit">
</form>
