<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/posts" method="post">
      <input type="text" name="name" placeholder="Gimmie blog name">
      <input type="textfield" name="content" placeholder="wht it say?">
      <input type="submit" value="post">
    </form>

  </body>
</html>
